body {
  margin: 0;
  line-height: normal;
}

:root {
  --color-black: #000;
  --color-dimgray: #6b6565;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-khaki: #ffd470;
  --color-oldlace: #fff9eb;
  --color-orange: #ffb814;
  --color-tomato: #ff5252;
  --color-white: #fff;

  --gap-6: 6px;
  --gap-14: 14px;
  --gap-16: 16px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-24: 24px;
  --gap-25_8: 25.8px;

  --padding-0: 0px;
  --padding-1: 1px;
  --padding-2: 2px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-7: 7px;
  --padding-8: 8px;
  --padding-9: 9px;
  --padding-10: 10px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-24: 24px;

  /* BorderRadius */
  --br-50: 50px;

  /* Font */
  --font-ibm-plex-sans: IBM Plex Sans;
  --font-racing-sans-one: Racing Sans One;

  /* FontSize */
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-28: 28px;
  --fs-32: 32px;
  --fs-19_8: 19.8px;
  --fs-23_3: 23.3px;
  --fs-23_8: 23.8px;
  --fs-29_1: 29.1px;
  --fs-31_8: 31.8px;

  /* Borders */
  --border-1: 4px solid var(--color-gainsboro-200);

  /* WidthHeights */
  --height-2: 2px;
  --height-20: 20px;
  --height-26: 26px;
  --height-121: 121px;
  --height-23_9: 23.9px;
  --height-auto: auto;
  --width-2: 2px;
  --width-20: 20px;
  --width-22_4: 22.4px;
  --width-23_9: 23.9px;

  /* LineHeights */
  --lh-26: 26px;

  /* LetterSpacings */
  --ls-0_01: 0.01;
}
