<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="/src/style/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="container footer-content">
        <div class="footer-brand">
          <h2>
            <img src="/src/public/icon/Logo-Lite.png" width="15%" alt="" />
            ENDURANCE HUB
          </h2>
          <p>
            Founded in 2026, we focus on delivering the latest news and insights
            on walking and cycling, bringing you updates, tips, and trends from
            around the world to support your fitness journey and active
            lifestyle.
          </p>
        </div>
        <div class="footer-links">
          <div>
            <h3>About Us</h3>
            <ul>
              <li>Careers</li>
              <li><a href="/src/template/team.html">Partnerships</a></li>
              <li>Terms & Conditions</li>
              <li>Contact Us</li>
            </ul>
          </div>
          <div>
            <h3>Help</h3>
            <ul>
              <li>FAQ</li>
              <li>Size Guide</li>
              <li>Delivery & Returns</li>
              <li>Orders & Payments</li>
            </ul>
          </div>
          <div>
            <h3>Account</h3>
            <ul>
              <li>Profile</li>
              <li>Coupons</li>
              <li>Wish List</li>
              <li>Notifications</li>
            </ul>
          </div>
          <div>
            <h3>Social Media</h3>
            <ul class="social-list">
              <li>
                <img
                  src="/src/public/icon/facebook.svg"
                  alt="Facebook"
                  class="social-icon"
                />
                <span><a href="https://www.facebook.com/minh.quan.ngo.932383">Facebook</a></span>
              </li>
              <li>
                <img src="/src/public/icon/instagram.svg" alt="" class="social-icon" />
                <span>Instagram</span>
              </li>
              <li>
                <img
                  src="/src/public/icon/youtube.svg"
                  alt="Youtube"
                  class="social-icon"
                />
                <span><a href="https://www.youtube.com/channel/UChYwzphrJLJKzu_tmLtxM2Q">Youtube</a></span>
              </li>
              <li>
                <img
                  src="/src/public/icon/github.svg"
                  alt="Github"
                  class="social-icon github-icon"
                />
                <span><a href="https://github.com/QuannmGIT">Github</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container footer-bottom">
        <p>Copyright © 2026 Endurance Hub®. All rights reserved.</p>
        <div class="legal">
          <span>Privacy Policy</span> • <span>Sitemap</span>
        </div>
      </div>
    </footer>
  </body>
</html>
