<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="../style/global.css" />
  </head>
  <body>
    <header
      class="flex shadow-md py-4 px-4 sm:px-10 bg-white min-h-[70px] tracking-wide relative z-50"
    >
      <div class="flex flex-wrap items-center justify-between gap-5 w-full">
        <a href="javascript:void(0)" class="max-sm:hidden"
          ><img src="../public/icon/logo_full.svg" alt="logo" class="w-50"
        /></a>
        <a
          href="javascript:void(0)"
          class="sm:hidden md:hidden lg:hidden max-sm:block"
          ><img src="../public/icon/logo-lite.svg" alt="logo" class="w-20"
        /></a>

        <!-- collapse menu -->
        <div
          id="collapseMenu"
          class="max-lg:hidden lg:!block max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50"
        >
          <button
            id="toggleClose"
            class="lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white w-9 h-9 flex items-center justify-center border border-gray-200 cursor-pointer"
          >
            <img src="../public/icon/cross.svg" alt="" />
          </button>

          <ul
            class="lg:flex gap-x-2 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50"
          >
            <li class="mb-6 md:hidden lg:hidden max-lg:block">
              <a href="javascript:void(0)"
                ><img
                  src="../public/icon/logo_full.svg"
                  alt="logo"
                  class="w-40"
                />
              </a>
            </li>

            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3 px-3">
              <a
                href="../template/home.html"
                class="hover:text-blue-700 text-blue-700 block font-medium text-[15px]"
                >Home</a
              >
            </li>

            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3 px-3">
              <a
                href="javascript:void(0)"
                class="hover:text-blue-700 text-slate-900 block font-medium text-[15px]"
                >News</a
              >
            </li>

            <!-- Dropdown menu -->
            <li
              class="relative list-none max-lg:border-b max-lg:border-gray-300 max-lg:py-3 px-3"
            >
              <a  
                onclick="toggleMenu()"
                class="hover:text-blue-700 text-slate-900 block font-medium text-[15px] inline-flex items-center justify-center"
              >
                Shop
                <img src="../public/icon/narrowDown.svg" alt="" />
              </a>

              <!-- Hidden by default -->
              <ul
                id="dropdown-menu"
                class="absolute hidden bg-white shadow-lg mt-2 w-40 z-10 rounded-md"
              >
                <li class="p-2 rounded-md">
                  <a
                    href="javascript:void(0)"
                    class="hover:text-blue-700 text-slate-900 block font-medium text-[15px]"
                    >Jogging</a
                  >
                </li>
                <li class="p-2 rounded-md">
                  <a
                    href="javascript:void(0)"
                    class="hover:text-blue-700 text-slate-900 block font-medium text-[15px]"
                    >Cycling</a
                  >
                </li>
              </ul>
            </li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3 px-3">
              <a
                href="javascript:void(0)"
                class="hover:text-blue-700 text-slate-900 block font-medium text-[15px]"
                >Tracking</a
              >
            </li>
            <li class="max-lg:border-b max-lg:border-gray-300 max-lg:py-3 px-3">
              <a
                href="../template/Rank.html"
                class="hover:text-blue-700 text-slate-900 block font-medium text-[15px]"
                >Leaderboard</a
              >
            </li>
          </ul>
        </div>

        <div class="flex max-lg:ml-auto space-x-4">
          <button
            class="px-2 py-2 text-sm font-medium cursor-pointer tracking-tight text-slate-500 bg-transparent hover:bg-gray-50 rounded-xl transition-all w-10"
          >
            <img src="../public/icon/search.svg" alt="" />
          </button>
          <button
            onclick="window.location.href='bill.html'"
            class="px-2 py-2 text-sm font-medium cursor-pointer tracking-tight text-slate-500 bg-transparent hover:bg-gray-50 rounded-xl transition-all w-10"
          >
            <img src="../public/icon/cart.svg" alt="Cart" />
          </button>

          <button
            class="px-2 py-2 text-sm font-medium cursor-pointer tracking-tight text-slate-500 bg-transparent hover:bg-gray-50 rounded-xl transition-all w-10"
          >
            <img src="../public/icon/user.svg" alt="" />
          </button>

          <button id="toggleOpen" class="lg:hidden cursor-pointer">
            <svg
              class="w-7 h-7"
              fill="#000"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <script src="../script/navbar.js"></script>
  </body>
</html>
