body {
    font-family: Arial, sans-serif;
    background-color: #07070732;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    width: 900px;
    padding: 30px;
    border: 2px solid #00aaff;
    border-radius: 8px;
}

.checkout-layout {
    display: flex;
    gap: 50px;
}
.back-btn{
    top: 20px;
    left: 20px;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Billing Section */
.billing-section { flex: 1; }
.billing-section h2 { margin-bottom: 20px; }

form input, form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background: #e0e0e0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Order Section */
.order-section { flex: 1; }

.order-table .row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 0.9em;
}

.grand-total { font-size: 1.2em; margin-top: 10px; }

/* Payment Method */
.method-box {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 15px;
}

.option { margin-bottom: 15px; }

.card-details {
    margin-top: 10px;
    padding-left: 25px;
}

.card-details input {
    background: #e0e0e0;
    border: none;
    padding: 8px;
    margin-right: 5px;
    border-radius: 4px;
}

.card-details .full { width: 90%; margin-bottom: 10px; }

/* Button */
.place-order-btn {
    width: 100%;
    padding: 15px;
    background: #ffe082;
    border: 2px solid #333;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    transition: 0.4s;
}

.place-order-btn:hover { 
    background: #ffd54f;
    box-shadow: 7px 5px 56px -14px #ffe082;
 }

 .place-order-btn:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #ffe082;
}


/* From Uiverse.io by Jedi-hongbin */
.goBack-btn {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-weight: 700;
}

.goBack-btn>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.goBack-btn:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.goBack-btn:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
